@media (max-width: 380px) {
  ul.social-buttons li a {
    display: block;
    background-color: #058bce;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    font-size: 15px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}
@media (max-width: 420px) {
  ul.social-buttons li {
    padding: 0px;
  }
}
@media (max-width: 450px) {
  .intro-text {
    padding-bottom: 35px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .wrapper {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .intro-text .intro-lead-in {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .carousel-caption .btn {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .btn-wsp {
    width: 63px;
    height: 63px;
    line-height: 66px;
  }
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    padding: 12px 0;
    padding-top: 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: 0;
  }
  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 0px;
  }
  .navbar-default.navbar-shrink {
    background-color: var(--color-white);
    padding: 0px 0;
    box-shadow: 0px 2px 5px #333333;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
  .navbar-default.navbar-shrink > div > div > ul > li > a {
    color: var(--color-4);
  }
  .navbar-default.navbar-shrink > div > div > ul > li > a:hover,
  .navbar-default.navbar-shrink > div > div > ul > li > a:focus {
    color: var(--color-1);
  }
}
@media (max-width: 800px) {
  .box {
    max-width: 60vw !important;
    min-height: 500px !important;
  }
}

@media (max-width: 920px) {
  .carousel-caption {
    top: 25%;
  }
  .intro-text .intro-paragraph {
    font-size: 12px;
    margin-top: 30px;
  }
  .intro-text .intro-lead-in {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .intro-text .intro-heading {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .intro-text {
    padding-bottom: 10px;
  }
}
@media (max-width: 990px) {
  .navbar-default {
    padding-top: 0;
    background-color: var(--color-white);
  }
  .navbar-default.navbar-shrink {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  .nav-infe {
    display: block !important;
  }
  .navbar-right {
    flex-direction: column !important;
    padding-left: 18px;
    padding-right: 18px;
  }
  .navbar-default .nav li a {
    font-family: var(--letra4);
    text-transform: uppercase;
    font-weight: 300;
    color: var(--color-4) !important;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 0;
    color: var(--color-1) !important;
    background-color: var(--color-1);
  }
  .carousel-inner {
    height: 100vh;
  }
  .carousel-inner > .item > img {
    height: 100vh;
  }

  .row {
    margin: 50px auto !important;
  }
.img-nosotros{
  margin-bottom: 50px !important;
}

  .tablet {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 1280px) {
  .carousel-caption {
    top: 20%;
  }
  .intro-text .intro-paragraph {
    font-size: 15px;
    margin-top: 40px;
  }
  .intro-text .intro-lead-in {
    font-size: 60px;
    margin-bottom: 20px;
  }
  .intro-text .intro-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .intro-text {
    padding-bottom: 15px;
  }

  .box {
    max-width: 300px;
    min-height: 400px;
  }
}
@media (max-width: 1500px) {
  .carousel-caption {
    top: 18%;
  }
}
