
.wrapper {
    width: 80%;
}

.back-to-top {
    float: right !important;
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 300;
    display: none;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff9000;
}

.back-to-top i {
    font-size: 60px;
}



.section-heading,
.section-subheading {
    opacity: 0;
}




/* 2.0 ==========   NAVBAR   =============================================================================*/

.top-nav {
    width: 95%;
    height: 100%;
}

.nav-infe{
    height: 100%;
    flex-wrap: nowrap !important;
}

.navbar-default {
    border-color: transparent;
}

.nav-buttons {
    border-radius: 0px !important;
}

.navbar-brand {
    float: left;
    width: 165px;
    height: 50px;
    padding: 0px !important;
}

.logo-top {
    padding-top: 0px !important;
    padding-left: 15px !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: var(--color-1);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent !important;
    border-bottom: 4px solid var(--color-1);
}

.navbar-default .navbar-toggle {
    background-color: var(--color-1);
    top: 25px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: var(--color-white);
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: var(--color-1);
    
}

.nav > li > a {
    padding: 10px 12px !important;
}

.navbar-default .nav li a {
    font-family: var(--letra4);
    text-transform: uppercase;
    font-weight: 300;
    color: var(--color-white);
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: var(--color-white);
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: var(--color-1);
    background-color:var(--color-1);
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: var(--color-1);
    background-color: var(--color-1);
}

.navbar-right {
    margin-right: 0px;
    margin-top: 6px;
    flex-direction: row;
}

.navbar-toggle {
    margin-right: 0px;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: 540px;
    
}




/* 3.0 ========   HEADER  =========*/

#header {
    position: relative;
    color: #fff;
    height: 100%;
}

.intro-text {
    padding-bottom: 35px;
    text-align: center;
}

.intro-text .intro-lead-in {
    font-family: var(--letra2);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 80px;
    margin-bottom: 45px;
}

.intro-text .intro-heading {
    font-family: var(--letra);
    text-transform: uppercase;
    font-size: 70px;
    line-height: 0px;
    margin-bottom: 10px
}

.intro-text .intro-paragraph {
    font-size: 21px;
    font-family: var(--letra3);
    margin-top: 70px;
}



.enlaces{
    background-color: var(--color-3);
}

#lista1 li {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 5px;
  }
  
  #lista1 {
    margin: 0 auto;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    justify-content: right;
    list-style: none;
    color: var(--color-1);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: var(--letra4);
  }
  
  #lista1 a {
    color: #a6a8aa;
    font-size: 14px;
  }

/* 4.0 ==========   SLIDER   ==*/

#slider {
    margin: 0px !important;
    padding: 0px !important;
}

.slider-button {
    border: 2px solid #fff;
    background-color: transparent !important;
    padding: 8px 40px;
}

.top li {
    color: #fff;
    position: absolute;
}

#myCarousel-one .item, img.slider-image {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#myCarousel-one .item:before {
    background-color: #000;
    content: "";
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    position: absolute;
    width: 100%;
}

.carousel-caption {
    left: 45px;
    margin: 0 auto;
    right: 45px;
    top: 40%;
    font-size: 15px;
    text-align: center;
    color: #fff;
    text-shadow: none;
}

.carousel-caption h1 {
    font-size: 46px;
    margin-bottom: 0;
    line-height: 27px;
    letter-spacing: 2px;
    font-weight: 100;
}

.carousel-caption h2 {
    font-size: 81px;
    font-weight: 600;
    margin-top: 0px;
    text-transform: lowercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.myCarousel-one-left,
.myCarousel-one-right {
    color: #000;
    font-size: 32px;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 32px;
    z-index: 999;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    -ms-transition: 300ms;
    transition: 300ms;
}

.myCarousel-one-left {
    left: -100px;
}

.myCarousel-one-right {
    right: -100px;
}

#myCarousel-one:hover .myCarousel-one-left {
    left: 0;
}

#myCarousel-one:hover .myCarousel-one-right {
    right: 0;
}

video {
    display: block;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    height: auto;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.img-slider{
    object-fit: cover;
}
/* 4.1 ======= Carousel animation =============*/


/* Animation delays */

.intro-lead-in {
    animation-delay: 0.4s;
}

.intro-heading {
    animation-delay: 0.6s;
}

.intro-paragraph {
    animation-delay: 0.7s;
}

.slider-button {
    animation-delay: 0.4s;
}



/* 13.0 ========  FOOTER  ================*/

.to-top-button {
    position: absolute;
}
footer {
    padding: 53px 0px 30px 0px;
    background-color: #0A0A0A;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    position: relative !important;
    bottom: 0px;
    width: 100%;
}
.footer-info {
    padding: 0px !important;
}
.footer-logo {
    float: left;
    margin-bottom: 20px;
    width: 170px;
}
.footer-text {
    color: #fff;
    font-family: var(--letra3);
    font-size: 14px;
    line-height: 21px;
    float: left;
    text-align: center;
}
.social-icons-footer {
    padding-left: 0px !important;
    float: left;
}
.copyright-bottom {
    padding: 0px !important;
}
.social-buttons-footer {
    padding-top: 25px;
}
footer span.copyright {
    font-family: var(--letra);
    text-transform: none;
    color: #757575;
    float: left;
    margin-top: 20px;
    font-size: 12px;
}
ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    display: block;
    background-color: #058BCE;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #48AAF1;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0
}


/* 13.1 ================== Scroll to top =============== */


.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 1em;
    right: 1em;
}
.scroll-up a {
    background-color: var(--color-1);
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    line-height: 38px;
    color: var(--color-2);
}
.scroll-up a:hover,
.scroll-up a:active {
    background-color: var(--color-2);
    color: var(--color-1);
}
/******boton flotante Wpp*/
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:72px;
    right:10px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
    padding: auto;
}
.btn-wsp:hover{
    background: #ffffff;
}



/*****************************nosotros*/
#contenido{
    margin-top: 50px;
    margin-bottom: 50px;
}